/*CSS DOCUMENT*/

img {
    width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

div.container {
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: normal;
}

header {
    background-color: rgb(255, 255, 255);
    grid-column: 1/3;
}

footer {
    background-color: rgb(255, 255, 255);
    font-size: 0.5em;
    grid-column: 1/3;
    padding: 2em 1em 1em 3.5em;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 1em;
    border-top: 1px solid rgb(255, 216, 153);
    padding: 0.5em 1em;
}

nav ul li a {
    color: rgb(135, 105, 172);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255, 216, 153);
}

h1 {
    font-family: bressay-devanagari, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h2 {
    color: rgb(255, 216, 153);
    font-family: liebelotte-swell, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5em;
    grid-column: 1/3;
    padding: 0em 0.75em;
}

h3 {
    color: rgb(255, 216, 153);
    font-family: liebelotte-swell, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.25em;
    grid-column: 1/3;
    padding: 0em 1em;
}

h4 {
    color: rgb(135, 105, 172);
    font-family: bressay-devanagari, sans-serif;
    font-weight: 1200;
    text-transform: uppercase;
    font-size: 1.25em;
    grid-column: 1/3;
    padding: 0em 2em;
}

h5 {
    color: rgb(135, 105, 172);
    font-family: bressay-devanagari, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    grid-column: 1/3;
}

ul {
    color: rgb(135, 105, 172);
    font-family: bressay-devanagari, sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    grid-column: 1/3;
    padding: 0em 2.5em;
}

p {
    color: rgb(135, 105, 172);
    font-family: bressay-devanagari, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    grid-column: 2/3;
    padding: 0em 2em;
}

.price {
    font-style: italic;
}

.maxwidthimage {
    grid-column: 1/3;
}
