/* CSS DOCUMENT*/

body{
    background-color: rgb(255, 221, 161);
    text-align: center;
}

h1 {
    color: rgb(39, 65, 137);
    font-size: 2.75em;
    text-transform: uppercase;
    font-family: serif;
    padding: 4em 1em 4em 1em;
}

h2 {
    color: rgb(39, 65, 137);
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: serif;
    padding: 4em 1em 3em 1em;
}

h3 {
    color: rgb(129, 143, 133);
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 3em 1em 1em 1em;
}

h4 {
    color: rgb(129, 143, 133);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: normal;
}

p {
    color: rgb(129, 143, 133);
    font-family: serif;
    padding: 1em 1em 2em 1em;
}

li{
    list-style: none;
}

ul{
   padding: 0; 
}
