/* CSS DOCUMENT*/

body{
    background-color: rgb(222, 234, 252);
    text-align: center;
}

h1 {
    color: rgb(39, 65, 137);
    font-size: 2.25em;
    text-transform: uppercase;
    font-family: serif;
    padding: 4em 2em 2em 2em;
}

h2 {
    color: rgb(255, 195, 62);
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: serif;
    padding: 2em 2em 1em 2em;
}

h3 {
    color: rgb(255, 195, 62);
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 4em 2em 1em 2em;
}

h4 {
    color: rgb(110, 119, 112);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: normal;
    padding: 3em 2em 1em 2em;
}

p {
    color: rgb(110, 119, 112);
    font-family: serif;
    padding: 1em 2em 1em 2em;
}

li{
    list-style: none;
}

ul{
   padding: 0; 
}
